# .env.example
GEMINI_API_KEY=
ONESIGNAL_REST_API_KEY=

# Publicly accessible in UI (using NEXT_PUBLIC_ prefix as requested)
NEXT_PUBLIC_GOOGLE_DRIVE_API_KEY=
NEXT_PUBLIC_DRIVE_FOLDER_ID=1BZebeE8mpX-su-8wA6zKEvhDuS-4vU1y
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbwMBz1tnnL-twFuUm87hOkPO-BKU_Bq8DL3mRh0OPyQv094NI87uLAdQl62X0VBcf7D/exec

# Server-side only
GOOGLE_SERVICE_ACCOUNT_JSON=
